.container{
    align-items: center;
    text-align: center;
    display: flex;
    width: 15rem;
    height: 25rem;
    border: 0.13rem solid black;
    margin: 0.5rem 0.5rem;
    padding-top: 1rem;

}
.content{
    padding: 2rem;
    margin: 1rem 1rem;
}
.content img{
    width: 4rem;
    height: 4rem;

}